.sections {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center the items */
}

.section {
    width: 45%;
    /* border-style: solid; */

    margin-bottom: 40px;
}