.inputsDiv {
    border-style: solid;


}

.list {
    border-style: solid;
    padding: 20px;
}

.listItem {
    border-style: solid;
    border-color: rebeccapurple;
    display: inline-block;
    padding-top: 40px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 40px;

    width: 50%;

    border-radius: 10px;


}

.listItem1 {
    margin-top: 8px;
    margin-left: 20%;
    margin-right: 8px;
    margin-bottom: 8px;
}

.listItem2 {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 20%;
    margin-bottom: 8px;
}

.test {
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;

    margin: 5px;

    border-radius: 10px;
}

.container {
    border-style: solid;
    width: 80%;
    padding: 16px;
}